@import url(https://fonts.googleapis.com/css?family=Belleza);

body {
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
}

h2 {
	font-family: 'Belleza';
	text-transform: uppercase;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

places {
  display: block;
  max-width: 90%;
  margin: 5% auto;
}

places .street {
	font-style: italic;
}

.attributes li {
	display: block;
  font-size: 75%;
}

.attributes li:after {
  content: ", ";
}

.attributes li:last-child::after {
  content: unset;
}

form input {
  font-size: 85%;
  padding: .4em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button {
  background-color: #1FADC5;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 75%;
  color: #fff;
  padding: .4em 1.2em;
  border-radius: 2em;
  cursor: pointer;
  margin: 0 .23em;
  outline: none;
}

button[disabled] {
  background-color: #ddd;
  color: #aaa;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.form-field {
  cursor: pointer;
  display: block;
  margin: 5px;
}

.form-field input {
  width: 100%;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  border: 1px solid #777;
  position: relative;
  margin: 0.5em;
  min-height: 200px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 43%;
}

.item .thumb,
.item .info {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}

.item .thumb {
  height: 200px;
  overflow: hidden;
  order: 1;
}



.thumb img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.item .info {
  padding: 15px;
}

.item label {
  margin-bottom: 1em;
  margin-top: 0.5em;
  display: block;
}

.item input[type="checkbox"] {
  display: block;
  margin-bottom: 1.5em;
}


@media (max-width: 600px) {
  .item-wrapper {
    flex-direction: column;
  }

  .item {
    flex-direction: column;
  }

  .item .thumb {
    order: 0;
  }
}
